*/collect-data/venv/
*/collect-data/steam_data.jsonl
*/notebooks/.env
*/notebooks/venv/
*/notebooks/lib/

dataset/*/
dataset/reviews-comment-graph-v*/
dataset/steam_data.jsonl
dataset/20260426_all_datasets_json.zip

graphs/

*/process-data/venv
*/process-data/results
*/process-data/language-models/__pycache__
convert-graph/venv

data-analysys/data

process-data/texts/texts.txt

venv
dataset/texts_enriched_merged.json
dataset/final-graph-*/
dataset/texts-processed/*
dataset/final-graphs.zip
dataset/graphs_and_texts_enriched_compiled.zip
